.App {
  margin: 3rem auto;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.913);
  padding: 30px;
  border-radius: 11px;
  color: #fff;
}

h1{
  margin-bottom: 2.3rem;
}

strong{
  font-size: 1.2rem;
  color: green;
}

p{
  font-weight: 500;
  font-size: 1.1rem;
}

button{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 9px;
  border: none;
  padding:9px 13px;
  background-color:green;
  color: white;
}

